body{
    background-color: #F2F1F6;
}

.myhome{
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Nanum Pen Script', cursive;
   line-height: 2;
color: black;
background-color: white;
    margin: 10px;
   
}
.maincenter{
    margin:0 auto;
}
header{
    opacity: 0.8;
    margin:10px;
    padding: 1px;

}

.name{
    font-size: 13px;
}

.name1{
    font-size: 20px;
    color: blue;
}
.name2{
    padding-bottom: 10px;
}
.book{

    padding: 30px;
}
header nav{
    margin:0px;
text-align: center;
    padding: 0px;

    opacity: 0.8;
}

header nav ul {
    display: flex;
}
.myimg{  

}
header nav ul li {
    list-style: none;
    margin-right:30px;
    margin-left: 10px;
    margin-top: 10PX;
    margin-bottom: 10PX;
    padding-top: 50px;
    font-size: 27px;
}
.pagename{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
.mainpage{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: burlywood;
    margin-left: 520px;
    margin-right: 520px;
}
main{
    display: flex;
}
.mainphoto{
width: 150px;
height: 150px;
padding: 0px;
margin: 0px;

}

td{
    padding: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 10px;
    border: 0px;
 
}
section{
    width: 70%;
    
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

article{
    background: rgb(253, 242, 190);
    margin-bottom: 10px;
    padding:10px;
 
}

article h2{

}

article p{ 

    font-size: 20px;
}

aside{
    width: 30%;
    background-color: tomato;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}

footer{
    margin: 10px;
    padding: 10px;
    margin:0 auto;
}

footer address {

}

footer address a{
    text-align: center;
    display: block;
}
